* {
    margin: 0;
    padding: 0;
}
.Homeheader {
    width: 100%; height: 101px;
    background: white;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}
.linear {
    width: 1280px; height: 100px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}
.Line {
    width: 100%; height: 1px;
    background: #008485;
}
.header_upper {
    width: 1150px; height: 30px;
}
.Link_click_left {
    height: 100%; gap: 15px; float: left;
    display: flex; align-items: center;
}
.Link_click_left a {
    color: #555555; font-size: 12px;
    text-decoration: none; font-weight: 500;
}
.Link_click_left a:hover {text-decoration: underline;} 
.Link_click_right {
    height: 100%;
    display: flex; float: right;
    align-items: center;
    gap: 40px;
}
.header_lower {
    width: 1150px; height: 70px;
}
.login_click {
    display: flex; gap: 15px;
}
.login_click a {
    color: #555555; font-weight: 500;
    font-size: 12px; text-decoration: none;
}
.login_click a:hover {text-decoration: underline;}
.language_click {position: relative; display: flex; align-items: end; gap: 5px;}
.language_click a {
    color: #555555; font-weight: 500; cursor: pointer;
    font-size: 12px; text-decoration: none;
}
.language_click img {width: 12px; cursor: pointer;}
.language_menu {
    z-index: 10; position: absolute;
    top: 25px; right: 0px;
    display: flex; flex-direction: column;
    align-items: flex-start; justify-content: flex-start;
    border: 0px solid #dddddd; border-radius: 5px;
    background: white;
    overflow: hidden; max-height: 0;
    transition: max-height 0.7s ease, border 0.5s ease;
}
.menu-top {
    position: absolute; top: 23px; z-index: 30; right: 35px;
    width: 4px; height: 4px; background-color: #ffffff;
    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    transform: rotate(45deg); opacity: 0;
}
.menu-top.open {
    opacity: 1;
}
.language_menu.open {
    max-height: 205px; border: 1px solid #dddddd;
}
.language_menu li {
    width: 75px; height: 40px; 
    list-style: none; line-height: 40px;
    text-align: center; border-bottom: 1px solid #dddddd;
}
